*.class
*.bat
*.log
*.gz
# IntelliJ File
*.iml

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Folders to Ignore
target
.idea
